<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/" method="POST" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <h4>Storyload</h4>
              </div>
              
              <div class="heading">
                <h2>Welcome!!</h2>
                <h6>Not registred yet?</h6>
                <a href="register.html" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="email"
                    name="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <button type="submit" class="sign-btn" id="login-btn">Sign In</button>


                <p class="text">
                  Forgotten your password or you login datails?
                  <a href="#">Get help</a> signing in
                </p>
              </div>
            </form>

          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img class="image img-1 show">
              <img class="image img-2">
              <img class="image img-3">
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own story</h2>
                  <h2>Come in and feel the season</h2>
                  <h2>Share and Invite</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      const inputs = document.querySelectorAll(".input-field");
      const toggle_btn = document.querySelectorAll(".toggle");
      const main = document.querySelector("main");
      const bullets = document.querySelectorAll(".bullets span");
      const images = document.querySelectorAll(".image");

      inputs.forEach((inp) => {
        inp.addEventListener("focus", () => {
          inp.classList.add("active");
        });

      inp.addEventListener("blur", () => {
        if (inp.value != "") return;
        inp.classList.remove("active");
        });
      });
     
      function moveSlider() {
        let index = this.dataset.value;

        let currentImage = document.querySelector(`.img-${index}`);
        images.forEach((img) => img.classList.remove("show"));
        currentImage.classList.add("show");

        const textSlider = document.querySelector(".text-group");
        textSlider.style.transform = `translateY(${-(index - 1) * 2.2}rem)`;

        bullets.forEach((bull) => bull.classList.remove("active"));
        this.classList.add("active");
      }

      bullets.forEach((bullet) => {
        bullet.addEventListener("click", moveSlider);
      });
    </script>
  </body>
</html>